<% provide :title, t(".title") %>
<h1><%= t(".name")%></h1>
<p>
  <%= t(".the") %>
  <em><%= link_to t("ruby_on_rails_tutorial"), Settings.link.rails_tutorials %></em>
  <%= t(".path_of_the") %>
  <%= link_to t(".learn_enough"), Settings.link.learn_enough %>
  <%= t(".des1") %>
  <%= link_to t(".book"), Settings.link.tutorials_book %>
  <%= t(".and") %>
  <%= link_to t(".screencast"), Settings.link.rails_tutorials_screencast %>
  <%= t(".des2") %>
  <%= link_to t("ruby_on_rails"), Settings.link.rails %>.
  <%= t(".des3") %>
</p>
