<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p><%= t ".description1" %>
  <%= link_to t(".description_link1"), Settings.link.rails_help %>
  <%= t ".description2" %>
  <em><%= link_to t("ruby_on_rails_tutorial"), Settings.link.rails_tutorials_book %></em>
  <%= t ".description_link22" %></a>
</p>
