<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".description1" %>
    <%= link_to t("ruby_on_rails_tutorial"), Settings.link.rails_tutorials %>
    <%= t ".description2" %>
  </h2>
  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),Settings.link.rails %>
</div>
